body{
    background-color: rgb(15, 3, 48);
    background-image: url("imgs/Star_Background.png");
    background-repeat: repeat-y;
}

h1{
    color: rgb(226, 207, 245);
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

h2{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h3{
    text-align: center;
    font-family: sans-serif;
}

p{
    color: white;
    text-align: center;
    line-height: 2;
    font-family: sans-serif;
}

a{

}

img{

}

button{

}

header{
    height: 200px;
    border: 1px solid lightblue;
}

header img{
    overflow: hidden;
    object-fit: cover;
    height: 200px;
    width: 100%;
}

section{
    background-color: rgb(108, 75, 158);
    margin: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    transition-duration: 0.3s;
}

section:hover{
    scale: 102%;
    background-color: rgb(111, 86, 167);
}

section div{
    width: 70vw;
    border: 5px solid white;
}

section img{
    height: 30vh;
    width: 30vh;
    border-radius: 100%;
    padding: 5vh;
}

ul{

}

li{
    color: white;
    font-family: sans-serif;
}

#showcase{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 5vh;
}

.card{
    background-color: white;
    padding: 2vw;
    margin: 1vw;
    width: 15vw;
    transition-duration: 0.1s;
}

.card:hover{
    background-color: azure;
}

.card p{
    color:rgb(15, 3, 48);
    height: 50%;
}

.card img{
    overflow: hidden;
    object-fit: contain;
    width: 100%;
    height: 50%;
    transition: 0.3s;
}

.card img:hover{
    scale: 102%;
}

#socials{
    background-color: rgb(108, 75, 158);
    margin: 5vh;
    border: 5px solid white;
}

@media (max-width: 1000px){
    #showcase{
        height: 400vh;
        padding: 10vh;
    }
    .card{
        width: 100vw;
        height: 80vh;
    }
}